.kubevirt-cluster-overview__body {
  padding: 1em;
  background-color: gray;
}

.kubevirt-cluster-overview__item {
  margin: 1em;
}

.kubevirt-cluster-overview__item-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.kubevirt-cluster-overview__health-combined {
  display: flex;
  flex-direction: column;
  margin: 1em;

  /* stylelint-disable plugin/selector-bem-pattern */
  .kubevirt-dashboard__card {
    margin: 0;
    flex: 1;
  }
  /* stylelint-enable */
}

.kubevirt-cluster-overview__health {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #d1d1d1;
}
