.kubevirt-data-resiliency__title {
    margin-bottom: 1.2em;
  }
  
  .kubevirt-data-resiliency__body {
    text-align: center;
    margin: 4em 0 0em 0;
    height: 180px;
  }
  
  .kubevirt-data-resiliency__icon--ok {
    font-size: 1.333em;
    color: yellowgreen;
    line-height: 1.333em;
  }
  .progress-description {
    text-align: left;
  }